body{
	background-color: #e8e8e8;
	color: gray;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	margin: 0;
	font-size: 15px;
}

h3 {
	font-weight: 200;
	font-size: 20px;
}
.header {
  padding: 5px;
  text-align: center;
  background: #72E8A8;
	font-weight: 100;
}
.container {
	max-width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: absolute;
}
.content {
	margin-top: -79px;
}
.space {
	margin: 0 20px 20px 20px;
}
.space:first-child {
	margin: 0 20px 20px 0;
}

.page {
	padding: 20px;
}

.bgwhite {
	background-color: #fff;
}

.topSpacing {
	padding-top: 20px;
}

.padding {
	padding: 10px;
}

.icon {
	height: 20px;
	margin: 0 15px;
}
.icon:first-child {
	margin: 0 15px 0 0;
}

.block {
	display: block;
}

.white {
	color: white;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.ib {
	display: inline-block;
}
.i {
	display: inline;
}

.bold {
	font-weight: 300;
}
