body{
	background-color: #e8e8e8;
	color: gray;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	margin: 0 auto;
	font-size: 15px;
}

h3 {
	font-weight: 200;
	font-size: 20px;
}
.header {
  text-align: center;
  background: #72E8A8;
	font-weight: 100;
}
.container {
	max-width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: absolute;
}
.content {
	margin-top: -79px;
}
.space {
	margin: 0 20px 20px 20px;
}
.space:first-child {
	margin: 0 20px 20px 0;
}
.page {
	padding: 20px;
}
.auth {
	padding: 50px 20px;
}

.bgwhite {
	background-color: #fff;
}

.topSpacing {
	margin-top: 20px;
}

.padding {
	padding: 10px;
}

.icon {
	height: 20px;
	margin: 0 15px;
}
.icon:first-child {
	margin: 0 15px 0 0;
}

.block {
	display: block;
}

.white {
	color: white;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.ib {
	display: inline-block;
}
.i {
	display: inline;
}

.bold {
	font-weight: 300;
}

input {
	width: 100%;
	max-width: 280px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	display: inline-block;
	border: none;
	background: none;
	border-bottom: 1px solid gray;
	padding: 15px 7px;
	font-size: 20px;
	color: gray;
	text-align: left;
}
input:focus {
	outline: none;
}

label {
	font-size: 20px;
}
form {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	text-align: center;
	background: #fff;
	margin: 0 auto;
	max-width: 300px;
	padding: 20px;
}
button {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 10px 20px;
	background-color: #72E8A8;
	color: #fff;
	font-weight: 200;
	border: none;
}
button:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
